.box-layout {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box-container {
  display: flex;
  gap: 20px;
  width: fit-content;
}

.box-item {
  display: flex;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.visible {
  display: flex;
  cursor: pointer;
}

.disabled {
  background-color: rgb(135, 131, 131);
}

.selected {
  background-color: #0bcc59;
  transition: all 0.5s ease-in;
}

.row {
  flex: 1;
}