This is box component!

<div class="box-grid--layout" (click)="handleStaticGridClick($event)" #boxContainer>
  <ng-container *ngFor="let val of seatingArrangements; let i = index">
    <div [ngClass]="val === 1 ? 'visible' : 'disabled'" class="box-container" data-id="{{ i }}">
      {{ i }}
    </div>
  </ng-container>
</div>

<br />
<h2> Dynamic Grid </h2>
<div class="box-dynamicGrid--layout" (click)="handleDynamicGridClick($event)" #boxContainer>
  <ng-container *ngFor="let row of seatingArrangements2D; let i = index">
    <ng-container *ngFor="let col of row; let j = index">
      <div [ngClass]="col === 1 ? 'visible' : 'disabled'" class="box-container" data-id="{{ i }}{{j}}">
        {{ i }}{{ j }}
      </div>
    </ng-container>
  </ng-container>
</div>